@media only screen and (max-width: 992px) {
    aside {
        left: -300px; /**/
        animation: none; /*отмена анимации*/
        z-index: 100;
    }

    .fa-times{
        display: block;
    }

    main {
        margin-left: 0;
        animation: mailLeft 400ms;
    }
    footer{
        margin-left: 0;
    }

    .main-header {
        display: block;
    }

}

