* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f0f0f0;
    font-family: ralewaylight, sans-serif;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 300px;
    height: 100%;
    animation: slideLeft 400ms;
}

.fa-times {
    display: none;
}

aside button {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    padding: 15px;
    cursor: pointer;

}

aside button i {
    font-size: 2.5em;
}

aside .avatar {
    width: 120px;
    height: 120px;
    border-radius: 4px;
    margin: 20px 15px;
}

aside h3 {
    text-transform: uppercase;
    margin: 20px 15px;
}

aside p {
    margin: 20px 15px;
}

aside ul {
    list-style-type: none;
}

aside ul li a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 0;
    display: block;
    color: #000;
}

aside ul li a:hover {
    background-color: #b6b6b6;
}

aside ul li.active a {
    color: #14bab5;
}

aside ul li.active a:hover {
    color: #000000;
}

aside ul li a i {
    margin: 0 15px;
}

.social {
    margin: 10px 12px;
}

.social i {
    padding: 5px 3px;
}

.social i:hover {
    color: #c8c8c8;
}

main {
    margin-left: 300px;
    padding: 25px 15px;
    animation: none;
    position: relative;
}

main h1 {
    font-weight: normal;
}

.main-header {
    height: 70px;
    display: none;
}

.main-header button {
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: transparent;
    padding: 15px;
    cursor: pointer;

}

.main-header button:hover {
    background: #b6b6b6;
}

.main-header button i {
    font-size: 3em;
}

.circle-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: right;
}

.circle-avatar:hover {
    opacity: .5;
    cursor: pointer;
}

.filter {
    margin: 25px 0;
    height: 40px;
    line-height: 40px;
}

.filter span {
    margin-right: 15px;
}

.filter button {
    border: none;
    outline: none;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    cursor: pointer;
    background-color: #fff;
    font-size: 1.05em;
}

.filter button.active {
    background-color: #000;
    color: #fff;
}

.filter button:hover {
    background-color: #b6b6b6;
    color: #000;
}

.filter button i {
    padding-right: 10px;
}

section.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 7px solid #c8c8c8;
    padding: 10px 0;

}

section.gallery .gallery-item {
    width: 32%;
    margin-bottom: 2%;
    background: #ffffff;
}

section.gallery .gallery-item img {
    width: 100%;
    height: auto;

}

section.gallery .gallery-item h4 {
    padding: 10px;
    font-weight: bold;;
}

section.gallery .gallery-item p {
    line-height: 1.5em;
    margin: 10px;
    font-weight: normal;
}

.gallery-item div {
    position: relative;
}

.gallery-item div:hover::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(241, 241, 241, .4);
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination a {
    color: #000000;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #000000;
    color: #ffffff;
}

.pagination a:hover:not(.active) {
    background-color: #000000;
    color: white;
}

.about {
    display: flex;
    flex-wrap: wrap;
}

.about img {
    width: 50%;
    height: 320px;
    margin: 50px 0 20px 0;
}

.about img:nth-of-type(1) {
    padding-right: 10px;
}

.about img:nth-of-type(2) {
    padding-left: 10px;
}

.about h4 {
    font-size: 20px;
    font-weight: normal;
    margin: 15px 15px 15px 0;
}

.about p {
    font-weight: lighter;
    line-height: 1.5em;
}

.skill {
    display: flex;
    flex-wrap: wrap;
}

.skill h3 {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    color: #585858;
    font-weight: normal;
    font-size: 25px;

}

.skill p {
    margin: 15px 0;
    color: #585858;
}

div.line {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #b6b6b6;
    position: relative;
    color: white;
}

.w95:before {
    content: "";
    display: inline-block;
    height: 100%;
    width: 95%;
    background: #585858;
}

.w95:after {
    content: "95%";
    display: inline-block;
    position: absolute;
    left: 50%;
    padding-left: 7%;
}

.w85:before {
    content: "";
    display: inline-block;
    height: 100%;
    width: 85%;
    background: #585858;
}

.w85:after {
    content: "85%";
    display: inline-block;
    position: absolute;
    left: 50%;
    padding-left: 3%;
}

.w80:before {
    content: "";
    display: inline-block;
    height: 100%;
    width: 80%;
    background: #585858;
}

.w80:after {
    content: "80%";
    display: inline-block;
    position: absolute;
    left: 50%;
}

.downloads {
    width: 250px;
    height: 50px;
    margin: 30px 0 20px 0;
    background: #666666;
    color: white;
    font-size: 15px;
    font-weight: normal;
}

.fa-download {
    font-size: 15px;
    padding: 5px 20px 5px 10px;
}

/*SUBSCRIPTION*/
.above-li {
    color: #585858;
    margin: 25px 5px 10px 0;
    font-size: 20px;
}

.subscription {
    display: flex;
}

.subscription div {
    width: 33%;
}

.subscription div:first-child {
    opacity: .5;
    margin-right: 5px;
}

.subscription div:first-child:hover {
    opacity: 1;
}

.subscription div:nth-child(2) {
    opacity: .5;
    margin: 0 10px;
}

.subscription div:nth-child(2):hover {
    opacity: 1;
}

.subscription div:last-child {
    opacity: .5;
    margin-left: 5px;
}

.subscription div:last-child:hover {
    opacity: 1;
}

.subscription ul li {
    list-style-type: none;
    border: 1px solid #dfdfdf;
    border-top: none;
    text-align: center;
    background: #f7f7f7;
    color: #000000;
    width: 100%;
}

.subscription ul li:nth-child(1n-2) {
    padding: 15px;
}

/*BASIC  PREMIUM*/
.subscription div:first-child li:first-child,
.subscription div:last-child li:first-child {
    background: #000000;
    color: #eeeeee;
    font-size: 25px;
    padding: 25px;
    border: none;
}

/*PRO*/
.subscription div:nth-last-child(2) li:first-child {
    background: #00beb8;
    color: #ebebeb;
    font-size: 25px;
    padding: 25px;
    border: none;
}

/*END li*/
.subscription ul li:nth-of-type(7) {
    background: #f0f0f0;
}

/* BUTTON*/
.subscription ul li button {
    font-size: 15px;
    font-weight: lighter;
    background: #00beb8;
    color: white;
    border: none;
    padding: 10px;
}

.subscription ul li button:hover {
    background: #000;
    color: #f9f9f9;
}

footer {
    margin: 50px 0 0 300px;
    background: #a3a3a3;
}

footer h3 {
    font-weight: normal;
    padding: 20px 0 25px 15px;
    color: #000000;
    font-size: 20px;
}

footer ul {
    list-style-type: none;
    display: flex;
    padding-bottom: 25px;
}

footer ul li:first-of-type {
    background: #666666;
    margin-left: 15px;
    width: 33%;
}

footer ul li:nth-of-type(2) {
    background: #14bab5;
    width: 33%;
}

footer ul li:last-of-type {
    background: #666666;
    margin-right: 15px;
    width: 33%;
}

footer ul li {
    text-align: center;
}

footer ul li .fa-envelope,
footer ul li .fa-map-marker-alt,
footer ul li .fa-phone {
    display: inline-block;
    font-size: 40px;
    color: #eeeeee;
    padding: 15px 0;
}

.fa-phone {
    transform: rotate(90deg);
}

footer ul li p {
    color: #eeeeee;
    padding-bottom: 20px;
}

footer ul li p {
    text-align: center;
}

/*FORM*/
footer form {
    margin: 15px;
    border-top: 2px solid #bfbbbb;
}

footer form div {
    margin-top: 20px;
}

footer form label input {
    display: flex;
    width: 100%;
    height: 30px;
}

footer form button {
    margin: 15px 0 20px 0;
    color: white;
    background: #000;
    padding: 15px;
    font-size: 15px;
    border: none;
    cursor: pointer; /*appear hand-cursor*/
}

footer form button:hover {
    background: #dfdfdf;
    color: black;
}

footer form button i {
    padding-right: 10px;
}

/*FOOTER*/
footer section {
    background: #585858;
    display: flex;
}

footer section div {
    width: 33%;
}

footer section div h3 {
    font-size: 30px;
    color: #ebebeb;
    text-transform: uppercase;
    margin: 35px 0 25px 0;
}

footer section div:first-child {
    margin-left: 15px;
}

footer section div:first-child p:first-of-type {
    margin: 0 15px 20px 0;
}

footer section div p {
    font-size: 15px;
    font-weight: lighter;
    color: #ececec;
    line-height: 1.5em;
}

footer section div p a {
    color: #ebebeb;
    text-decoration: underline;
}

div.under-line {
    width: 90%;
    height: 1px;
    margin: 0 10px 0 10px;
    background: #cdcdcd;
}

/*BLOG POSTS*/
.blog div {
    height: 70px;
}

.blog div:nth-of-type(1) {
    border-bottom: 1px solid #ebebeb;
    width: 90%;
    margin: 0 0 20px 0;
}

.blog div:nth-of-type(2) {
    width: 90%;
    margin-bottom: 30px;
}

.blog img {
    width: 50px;
    height: 50px;
    margin: 0 20px;
    float: left;
}

.blog h5 {
    font-size: 18px;
    font-weight: lighter;
    color: #ebebeb;
    padding-bottom: 5px;
}

/*TAGS*/
.tags div {
    display: inline;
}

.tags span a:nth-of-type(1) {
    background: #000;
    color: white;
    padding: 5px;
    cursor: pointer;
    font-weight: lighter;
}

.tags span a:hover {
    background: #d8d8d8;
    color: black;
    font-weight: normal;
    cursor: pointer;
}

.tags span:nth-of-type(1n+2) {
    display: inline-block;
    background: #b0b0b0;
    padding: 5px;
    margin: 10px 5px 5px 0;
    font-size: 11px;
}

.tags span:nth-child(4) {
    text-transform: uppercase;
}

.tags span:nth-child(5) {
    text-transform: uppercase;
}

.tags span:nth-child(6) {
    text-transform: uppercase;
}

/*W3.CSS*/
.power-by {
    font-size: 20px;
    font-weight: lighter;
    background: #000;
    color: #ebebeb;
    text-align: center;
    padding: 25px 0;
}

.power-by a {
    text-decoration: underline;
    color: #ebebeb;
}

.power-by a:hover {
    background: #e5e5e5;
    color: black;
}