@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.root-page {
  background: #1e1d1d;
  color: #333;
  font-family: "Nunito", serif;
}

.blog-page {
  background: #ccc4c4;
  color: #333;
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
}
